    .monitor_top_border {
        height: 2%;
    }

    .console_top_border {
        height: 4%;
    }

    .loging_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 10px;
    margin-left: 3.5%;
    font-size: 14px;
    font-family: monospace;
  }

  .console_area{
    display: flex;
    flex-wrap: wrap;
    max-height: 40%;
    justify-content: left;
    margin-top: 3%;
    margin-left: 3.5%;   
    margin-right: 3%;
    font-size: 14px;
    font-family: monospace;
  }
  
  .static-text{
    font-size: 14px;
    font-family: monospace;
    color: white;
  }

  .text-printing{
    width: 42ch;
    overflow: hidden;
    color: white;
    font-size: 14px;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid orange;
  }
  
  @keyframes flashin-border{
    0%{
      border-color: orange;
    }
    50%{
      border-color: transparent;
    }
    100%{
      border-color: orange;
    }
  }
  
  @keyframes printed-text{
    from {
      width: 0%;
    }
  }

.background {
      background-image: url(screen.png); /* Путь к фоновому изображению */
      background-size: 100% 100%;
      background-color: #000000; /* Цвет фона */

}